body{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    min-width: 100%;
    min-height: 100vh;
    background-image: linear-gradient(to right, #ff6e7f, #bfe9ff);
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

h1{
   font-size: 3rem;
   margin-bottom: 0.5rem;
}

.tasks{
    width: 30rem;
    padding: 0.5rem;
    font-size: 1rem;
    box-shadow: gold 1px 1px;
}

.addBtn{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    cursor: pointer;
    background-color: rgba(87, 115, 255, 0.907);
    color: white;
}

.tasksContainer{
    width: 50%;

}
.tasksContainer .list{
    list-style: none;

}
.taskadder{
    background-color: white;
    border-radius: 5px;
    padding: 4px;
    margin: 4px;
    text-align: center;
    color: black;
    display: flex;
    justify-content: space-between;
    transition: all ease 0.4s;
    word-break: break-all;
}

.taskadder li{
    flex : 1;
}

.deleteBtnStyle{
    border: none;
    outline: none;
    background-color: rgba(255, 99, 99, 0.901);
    cursor: pointer;
    width: 1.7rem;
    height: 1.7rem;
}
.checkBtnStyle{
    border: none;
    outline: none;
    background-color: rgba(84, 255, 107, 0.737);
    cursor: pointer;
    width: 1.7rem;
    height: 1.7rem;
}

.fa-trash , .fa-check{
    pointer-events: none;
}

.completedTask{
    text-decoration: line-through;
    opacity: 0.6;
}

.delAnimation{
    transform: translateY(6rem) rotateZ(-10deg);
    opacity: 0.1;
}


@media screen and ( max-width: 600px){

    body{
        overflow: hidden;
    }
    .container{
        max-width: 90vw;
        place-items: center;
    }

    .header{
        max-width: 80vw;
        font-size: 0.8rem;
    }
    .header h1{
        font-size: 2.5rem;
    }

    .tasks{
        width: 80vw;
    }
    .tasksContainer{
        width: 80vw;
    }
    .taskadder{
        word-break: break-all;
    }


}